@use "sass:math";
@forward "./../../../css/reset/reset";
@use "./../../../css/variaveis/caminhos" as c;
@use "./../../../css/util/breakpoints";
@use "./../../../css/cores/cores" as cores;
@use "./../../../css/mixins/button" as buttons;
@use "../../../css/mixins/tipografia" as tp;
@use "../../../css/util/_vw.scss";

@include breakpoints.respond-to("mobile") {
    #slideDeProdutosdaCorretora {
        overflow: hidden;
        width: 98vw;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        padding: 5vw;
        display: flex;
        flex-direction: column;
        @include tp.tamanhoFontes();
        border-bottom: 1px solid cores.$cor1;

        h1,
        h2 {
            color: cores.$cor1;
            font-family: "font2";
            //@include marginBottom();
            @include tp.titulos();
            ///border: 1px solid red;
            height:8vh;
        }
        font-family: "font1";
        color: cores.$cor2;

        p{
            min-height: 20vh;
        }

        a {
            @include buttons.botao() {
            }
        }


          #arrowRightX,
        #arrowLeftX {
            display: none!important;
        }


        #slideDeProdutos {
            picture {
                max-width: 80vw;
                max-height: 50vh;

                display: block;
                position: relative;
                img {
                    display: block;
                    height: auto;
                    width: 100%;
                    object-fit: contain;
                    
                }
            }
        }

        #imagemLateral {
            width: 90vw;
            height: auto; //height: 80vh;
            position: relative;
            img {
                height: vw(200);
                width: auto;
                display: block;
            }
        }

        .slick-prev,.slick-next{
            display: none;
        }
    }
}
