@use "sass:math";
@forward "./../../../css/reset/reset";
@use "./../../../css/variaveis/caminhos" as c;
@use "./../../../css/util/breakpoints";
@use "./../../../css/cores/cores" as cores;
@use "./../../../css/mixins/button" as buttons;
@use "../../../css/mixins/tipografia" as tp;
@use "../../../css/util/_vw.scss";

@include breakpoints.respond-to("mobile") {
    #operadoras {
        overflow: hidden;
        width: 98vw;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        padding: 5vw;
        display: flex;
        flex-direction: column;
        @include tp.tamanhoFontes();
        border-bottom: 1px solid cores.$cor1;
        /***********************************************************/
        h1,
        h2 {
            color: cores.$cor1;
            font-family: "font2";
            //@include marginBottom();
            @include tp.titulos();
        }
        font-family: "font1";
        color: cores.$cor2;
        /***********************************************************/
        a {
            @include buttons.botao() {
            }
        }

        /***********************************************************/

        #bandeiras {
            display: block;
            padding: 2vw;
            ul {
                display: flex;
                flex-direction: row;
                li {
                    picture {
                        display: block;
                        margin-left: 2vw;
                        img{
                            width: 100%;
                            height: auto;
                            display: block;
                        }
                    }
                }
            }
        }
        /***********************************************************/
    }
}
