@use "sass:math";

@use "./../../../css/variaveis/caminhos" as c;
@use "./../../../css/util/breakpoints";
@use "./../../../css/cores/cores" as cores;
@use "./../../../css/mixins/button" as btn;
@use "../../../css/mixins/tipografia";
@use "../../../css/util/_vw.scss";

@include breakpoints.respond-to(bigger) {
    @keyframes hoverCards {
        0% {
            transform: scale(0.5);
        }
        70% {
            transform: scale(1.9);
        }
        100% {
            transform: scale(1.3);
            z-index: 3000;
        }
    }

    #blog {
        position: relative;

        header {
            position: absolute;
            top: vw.vw(44.79);
            left: vw.vw(60.41);
            width: vw.vw(170.31);
            height: 0;
            margin: 0;
            padding: 0;
            h1 {
                color: cores.$cor1;
                font-size: vw.vw(29.71);
                font-family: "font2";
                height: vw.vw(37);
                line-height: 125%;
            }
        }

        h2 {
            top: vw.vw(319);
            left: vw.vw(60.41);
            color: cores.$cor1;
            font-size: vw.vw(29.71);
            font-family: "font2";
            height: vw.vw(37);
            line-height: 125%;
            position: absolute;
        }

        p {
            position: absolute;
            left: vw.vw(60.41);
            top: vw.vw(122.4);
            font-size: vw.vw(9.39);
            font-weight: 200;
            line-height: 166%;
            font-family: "font1";
            color: cores.$cor2;
            width: vw.vw(863.54);
        }

        #categorias {
            position: absolute;
            left: vw.vw(60.41);
            top: vw.vw(396.88);
            width: vw.vw(856.77);
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            li {
                width: vw.vw(249.48);
                height: vw.vw(184.38);
                margin-bottom: vw.vw(27.08);
                border-radius: vw.vw(10.42);
                overflow: hidden;
                position: relative;
                border: 1px solid cores.$cor1;
                
                #fundo {
                    width: 100%;
                    height: vw.vw(130);
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background: linear-gradient(to top, white 30%, transparent 100%);
                }

                h3 {
                    z-index: 300000;
                    position: absolute;
                    left: vw.vw(20.3);
                    bottom: vw.vw(20.65);
                    color: cores.$cor1;
                    font-family: "font3";
                    font-size: vw.vw(15.01);
                    line-height: 125%;
                    text-transform: capitalize;
                }
                img {
                    width: auto;
                    height: 130%;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    filter: opacity(1) saturate(0.3) brightness(1);
                    z-index: -2;
                }

                &:hover {
                    animation: hoverCards 200ms forwards;
                }
            }
        }
    }
}
