@use "sass:math";
@forward "./../../../css/reset/reset";
@use "./../../../css/variaveis/caminhos" as c;
@use "./../../../css/util/breakpoints";
@use "./../../../css/cores/cores" as cores;
@use "./../../../css/mixins/button" as buttons;
@use "../../../css/mixins/tipografia" as tp;
@use "../../../css/util/_vw.scss";

/******Vou pegar o css do topo************/
@use "../../topo/css/mobile";
/*****************************************/

@include breakpoints.respond-to("mobile") {
    #header {
        padding: 10vw;
        padding-top: 2vw;
        @include tp.tamanhoFontes();
        color: cores.$cor1;
        font-family: "font4";
        display: flex;
        flex-direction: column;
        gap: 5vw;

        h1,
        h2 {
            font-family: "inter2";
            font-size: 7vw;
            line-height: 120%;
            width: 100%;
            display: block;
        }

        h1 {
            font-size: 16vw;
        }

        #btn {
            background-color: cores.$cor1;
            color: white;
            font-family: "inter2";
            padding: 5vw;
            display: block;
            border-radius: 3vw;
            position: relative;
            text-transform: capitalize;
            img {
                position: absolute;
                top: 4vw;
                right: 4vw;
            }
        }

        picture {
            width: 100%;
            height: auto;
            display: block;
            img {
                max-width: 100%;
                height: auto;
            }
        }

        ul{
            li{
                img{
                    width: 100%;
                }
            }
        }
    }
}
